<% if users.any? %>
    <ul class="list-unstyled">
      <% users.each do |user| %>
          <li class="media">
            <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 125 }) %>" alt="">
            <div class="media-body">
              <div>
                <h6><%= user.name %></h6>
              </div>
                <p class="m-0 p-0"><%= link_to 'プロフィール', user_path(user) %></p>
                <p class="m-0 p-0">投稿数：<%= user.books.count %> 件/コメント数：<%= user.comments.count %> 数</p>
                <p class="m-1 p-1"><%= render 'relationships/follow_button', user: user %></p>
            </div>
          </li>
      <% end %>
    </ul>
    <%= paginate users %> <!--ページネーション-->
<% end %>