<ul class="list-unstyled">
  <% books.each do |book| %>
    <li>
      <p class="p-1 m-0 mt-1"><%= link_to book.user.name, user_path(book.user) %>　さんの投稿</p>
      <div class="card m-1">
        <h5 class="card-header p-1"><%= book.name %>  <small class="text-muted">著者： <%= book.author %></small></h5>
        <div class="card-boby m-1 p-1">
          <p class="card-text"><span class="badge badge-secondary">説明</span><br><%= book.description %></p>
          <p class="card-link"><%= link_to 'コメント一覧', comments_book_path(book) %>：<span class="badge badge-dark"><%= book.comments.count %></span></p>
          <!--ボタン-->
          <span class="badge badge-primary">Good<i class="fas fa-thumbs-up"></i>：<%= book.comments.where(good_or_bad: 1).count %></span>
          <span class="badge badge-warning">Bad<i class="fas fa-thumbs-down"></i>：<%= book.comments.where(good_or_bad: 0).count %></span>
        </div>
        <div class="card-footer p-1 m-0">
          <small class="text-muted m-0">投稿日:<%= book.created_at.strftime('%Y/%m/%d') %></small>
        </div>
      </div>
      <div>
        <% if current_user == book.user %>
          <%= link_to "編集 ", edit_book_path(book), class: 'btn-sm btn-danger m-1' %>
          <%= link_to "削除 ", book, method: :delete, data: { confirm: "本当に削除してもいいですか?" }, class: 'btn-sm btn-danger m-1' %>
        <% end %>
      </div>
    </li>
  <% end %>
  <%= paginate books %>
</ul>